<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<!--
配置说明参考文档：http://git.oschina.net/free/Mybatis_Utils/blob/master/MybatisGeneator/MybatisGeneator.md#
-->

<generatorConfiguration>
    <!--
    包含以下子元素（有严格的顺序）：
        <properties> (0个或1个)
        <classPathEntry> (0个或多个)
        <context> (1个或多个)
    -->

    <context id="OracleContext" targetRuntime="MyBatis3Simple" defaultModelType="flat">
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <commentGenerator>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="oracle.jdbc.OracleDriver"
                        connectionURL="jdbc:oracle:thin:@proxy.unionlive.com:1521:orcl"
                        userId="unionlive"
                        password="unionlive">
        </jdbcConnection>

        <javaModelGenerator targetPackage="test.model" targetProject="E:\IdeaProjects\jsunday\jsunday-mybatis3\src\test\java">
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="test.xml"  targetProject="E:\IdeaProjects\jsunday\jsunday-mybatis3\src\test\resources"/>

        <javaClientGenerator type="XMLMAPPER" targetPackage="test.dao"  targetProject="E:\IdeaProjects\jsunday\jsunday-mybatis3\src\test\java"/>

        <table tableName="ZT_BLOG" domainObjectName="Blog">
        </table>
    </context>
</generatorConfiguration>